@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~normalize.css";
@import "loader";
@import "mixin";
@import "variables";
//----------------------------------------------------//
.body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #171717;
}


.container {
  max-width: 1360px;
}

a {
  text-decoration: none;
}

//------------------------------------------Header-------------------------------------//
.header {
  height: 93.5px;
  background: rgba(255, 255, 239, 1);

  &__nav-item {
    font-size: 16px;
    color: rgba(86, 89, 61, 1);
    letter-spacing: 1.58px;
    text-transform: uppercase;
  }

  &__wrapper {
    padding: 54px 50px 8.5px 50px;
    width: 100%;
    max-width: 1365px;

    @media (max-width: 992px) {
      padding: 54px 15px 8.5px 15px;
    }
  }

  &__nav-item:hover {
    color: rgb(103, 255, 0);
    transition: 0.2s linear;
  }

  &__pic-active {
    display: none;
    @media (max-width: 992px) {
      display: block;
      margin: 0 auto;
      padding-bottom: 20px;
    }
  }

  &__pic {
    padding-right: 100px;

    @media (max-width: 992px) {
      padding-right: 0;
    }
  }

  &__svg {
    width: 30px;
    height: 30px;
    padding-right: 10px;
  }

  &__svg:hover {
    fill: rgb(103, 255, 0);
    transition: 0.2s linear;
  }

  &__icon {
    @media (max-width: 992px) {
      display: none;
    }
  }
}

/*------Burger---------*/

.header-burger {
  display: none;
}

@media (max-width: 992px) {
  .header-burger span {
    position: absolute;
    background-color: #D2FF00;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }


  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    margin-right: 8px;
  }

  .header-burger.active span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }


  .header-burger.active span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }


  .header-burger.active:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
  }


  .header-burger.active span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  .header-burger:before,
  .header-burger:after {
    content: '';
    background-color: #434836FF;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

}


@media (max-width: 992px) {
  .header-burger span {
    position: absolute;
    background-color: #434836FF;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header-burger:after {
    bottom: 0;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 50px 10px 20px 10px;
  }
  .header__menu.active {
    background-color: #ffffef;
    top: 0;
  }

  .header-burger.active:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
  }

  .header-burger.active:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header-burger.active span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

}

.header__nav-item {
  font-size: 14px;
  font-weight: 400;
  color: rgba(86, 89, 61, 1);
}

.header__nav {
  @media (max-width: 992px) {
    justify-content: center;
  }
  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.header__icon-active {
  display: none;

  @media (max-width: 992px) {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
}

/*------MAIN---------*/
.main {


  &__wrapper {
    background-image: url("../img/main.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    height: 732px;
    width: 100%;
    max-width: 100%;
    margin: 30px auto;
    border: 16px solid rgba(255, 255, 239, 1);
    position: relative;
    z-index: -1;
  }

  &__inner {
    position: absolute;
    top: 66%;
    right: 6%;
  }

  &__title {
    font-size: 18px;
    color: #56593D;
    letter-spacing: 1.8px;
    text-align: right;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 45px;
    color: rgba(86, 89, 61, 1);
    padding-bottom: 20px;
    text-align: right;

    @media (max-width: 576px) {
      font-size: 30px;
    }
  }

  &__button {
    text-transform: uppercase;
    background-color: rgba(86, 89, 61, 1);
    justify-content: center;
    align-items: center;
    border: none;
    display: flex;
    padding: 15px 25px;
    width: 100%;
    max-width: 154px;
    margin-left: auto;
  }

  &__button:hover {
    background-color: #85c9ff;
    color: #171717;
    transition: 0.2s linear;
  }

  &__btn {
    color: rgba(255, 255, 239, 1);
  }

  &__btn:hover {
    color: #fbfbfb !important;
  }


}