@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~normalize.css";
@import "loader";
@import "mixin";
@import "variables";
//----------------------------------------------------//
a {
  text-decoration: none;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  height: 40px;

  &__left {
    background-image: url("../img/headerdetail.png");
    width: 100%;
    max-width: 60%;
    display: flex;
    justify-content: space-around;

    @media (max-width: 576px) {
      max-width: 40%;
    }


  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 200px;
    @media (max-width: 768px) {
      gap: 100px;
    }
    @media (max-width: 576px) {
      gap: 20px;
    }

  }

  &__num {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #ffffff;
    white-space: nowrap;

    @media (max-width: 768px) {
      font-size: 10px;
    }
    @media (max-width: 576px) {
      font-size: 6px;
    }
  }

  &__text {
    white-space: nowrap;
    color: #ffffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;

    @media (max-width: 768px) {
      font-size: 10px;
    }
    @media (max-width: 576px) {
      font-size: 6px;
    }
  }

  &__right {
    background-color: #ECA30C;
    width: 100%;
    max-width: 43%;

    @media (max-width: 576px) {
      max-width: 60%;
    }
  }


  &__link {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 25px;

    @media (max-width: 768px) {
      font-size: 10px;
      padding-left: 0px;

    }
  }

  &__link:hover {
    color: #171717;
    transition: 0.3s linear;
  }

  &__border {
    border-right: 1px solid rgba(255, 255, 255, 1);
    width: 37px;
    height: 27px;
    @media (max-width: 1176px) {
      display: none;
    }
  }

  &__img-search {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__icon-svg {
    fill: #fbfbfb;
    @media (max-width: 1176px) {
      display: none;
    }
  }

  &__icon-svg:hover {
    fill: #171717;
    transition: 0.3s linear;
  }
}

//-----------------MAIN------------------------//

.main {
  background-image: url("../img/mainpic.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &__nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 10px;
    color: #fbfbfb;
    z-index: 1000;
    white-space: nowrap;
  }


  &__nav-link:hover {
    color: #171717;
    transition: 0.3s linear;
  }

  &__nav-btn {
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 9px 19px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    white-space: nowrap;
    margin-right: 10px;
  }

  &__nav-btn:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #171717;
    transition: 0.3s linear;
  }

  &__pic {
    position: absolute;
    left: 0;
    right: 0;
    top: -13px;
    bottom: 0;
    max-width: 100%;

    @media (max-width: 576px) {
      max-width: 40%;
    }
  }

  &__logo-img {
    z-index: 1000;
    max-width: 100%;
  }

  &__wrapper {
    text-align: center;
    margin-top: 50px;
  }

  &__title {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #fbfbfb;

    @media (max-width: 576px) {
      font-size: 30px;
    }
  }

  &__title-1 {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 54px;
    color: #fbfbfb;
    text-transform: uppercase;

    @media (max-width: 576px) {
      font-size: 40px;
    }
  }

  &__border-1 {
    border-bottom: 2px solid #ECA30C;
    width: 107px;
    height: 10px;
    margin: 0 auto;

  }

  &__sub-text {
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 31px;
    color: #fbfbfb;
    @media (max-width: 576px) {
      font-size: 20px;
    }
  }

  &__sub-text-1 {
    margin: 0 auto;
    padding-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #fbfbfb;
    text-align: center;

    @media (max-width: 576px) {
      font-size: 8px;
    }
  }

  &__btn-1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: #ECA30C;
    color: #fbfbfb;
    padding: 15px 30px;

    @media (max-width: 576px) {
      font-size: 12px;
      padding: 10px 15px;
    }
  }

  &__btn-1:hover {
    background-color: #171717;
    color: #fbfbfb;
    transition: 0.3s linear;
  }


  &__info-num {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 38px;
    color: #fbfbfb;
    margin-right: 20px;
    text-align: center;

    border-bottom: 2px solid #ECA30C;
    width: 80px;

    @media (max-width: 768px) {
      width: 50px;
      font-size: 25px;
    }
    @media (max-width: 576px) {
      font-size: 20px;
      margin-right: 5px;
    }

  }

  &__info-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #fbfbfb;
    text-align: left;

    @media (max-width: 768px) {
      font-size: 15px;
    }
    @media (max-width: 576px) {
      font-size: 7px;
    }
  }


  &__info-pic {
    width: 100%;
    max-width: 100%;
  }
}


//---------------------Products------------//
.products {

  &__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: rgba(33, 52, 48, 1);
    text-align: center;
  }

  &__border {
    border-bottom: 2px solid #ECA30C;
    width: 50px;
    height: 5px;
    margin: 0 auto;
  }

  &__pic {
    width: 100%;
  }

  &__inner {
    width: 413px;
    height: 550px;

    box-shadow: 0 10px 25px 0 rgba(33, 52, 48, 0.08);

  }

  &__txt {
    padding-left: 37px;
  }

  &__inner-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: rgba(0, 147, 104, 1);
    padding-top: 22px;
  }

  &__inner-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: rgba(33, 52, 48, 1);
  }

  &__inner-sub-text {
    width: 343px;
    height: 52px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 1);
    overflow: hidden;
    padding-bottom: 20px;
  }

  &__inner-btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(244, 157, 61, 1);
    padding: 17px 122px;
  }

  &__inner-btn:hover {
    background-color: #171717;
    color: #fbfbfb;
    transition: 0.3s linear;
  }

}

//-----------------Burger Menu------------------------//
.main-burger {
  display: none;
  flex-direction: column;
  cursor: pointer;

}

.main-burger span {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 3px 0;
  border-radius: 2px;
}

/* адаптив 992px */
@media (max-width: 992px) {
  .main-burger {
    display: flex;
  }

  .main__nav {
    gap: 10px !important;
    display: none;
    width: 100%;
    justify-content: center;

    background-color: rgba(0, 147, 104, 1);
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 1;
  }
  .main__nav-link {
    padding: 10px;
    color: #ffffff !important;
    text-decoration: none;
  }
  .main__nav-link:hover {
    color: #333 !important;
    transition: 0.3s linear;
  }
  .main__nav-btn {
    border: 1px solid rgb(255, 255, 255);
    padding: 0 10px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    margin-right: 5px;

  }
  .main__nav-btn:hover {
    background-color: #ffffff;
    color: #171717;
    transition: 0.3s linear;
  }

  .main__nav.show {
    display: flex;
  }

}

/* адаптив 768px */
@media (max-width: 768px) {
  .main__nav-link {
    font-size: 9px;
    padding: 5px;
    color: #333;
    text-decoration: none;
  }
  .main__nav-btn {
    font-size: 10px;
  }
}

/* адаптив 576px */
@media (max-width: 576px) {
  .main__nav {
    gap: 3px !important;
  }
  .main__nav-link {
    font-size: 5px;
  }
  .main__nav-btn {
    font-size: 7px;
  }
  .main__nav-img {
    display: none;
  }
}

