<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header__up d-flex align-items-center justify-content-between pt-3 pb-5">
            <div class="header__location d-flex align-items-center justify-content-center gap-2">
                <img src="../img/header-home.png" alt="">
                <p class="header__text-up">Абхазия, Цандрыпш, ул.Октябрьская, д.492</p>
            </div>
            <div class="header__mail d-flex justify-content-center align-items-center gap-2">
                <img src="../img/mail.png" alt="">
                <p class="header__text-up">booking@valentinahouse.ru</p>
            </div>
            <div class="header__phone d-flex justify-content-center align-items-center gap-2">
                <img src="../img/phone.png" alt="">
                <p class="header__text-up">8 (862) 279-56-89</p>
            </div>
        </div>
        <div class="header__down d-flex align-items-center justify-content-between">
            <p class="header__text-down">Valentina <br> Guest House</p>
            <div class="header-burger">
                <span></span>
            </div>
            <p class="header__text-down-active">Valentina <br> Guest House</p>
            <nav class="header__nav d-flex align-items-center justify-content-center gap-3 ">
                <p class="header__text-down-active">Valentina <br> Guest House</p>
                <div class="header__wrapper-active">
                    <div class="header__location d-flex align-items-center justify-content-center gap-2">
                        <img src="../img/header-home.png" alt="">
                        <p class="header__text-up">Абхазия, Цандрыпш, ул.Октябрьская, д.492</p>
                    </div>
                    <div class="header__mail d-flex justify-content-center align-items-center gap-2">
                        <img src="../img/mail.png" alt="">
                        <p class="header__text-up">booking@valentinahouse.ru</p>
                    </div>
                    <div class="header__phone d-flex justify-content-center align-items-center gap-2">
                        <img src="../img/phone.png" alt="">
                        <p class="header__text-up">8 (862) 279-56-89</p>
                    </div>
                </div>
                <a class="header__link" href="">Главная</a>
                <a class="header__link" href="#" id="dropdownToggle">Номер и Цена</a>
                <div class="header__content" id="dropdownContent">
                    <a href="#">2-Х МЕСТНЫЙ</a>
                    <a href="#">СЕМЕЙНЫЙ</a>
                    <a href="#">DELUXE </a>
                    <a href="#">DELUXE+</a>
                </div>
                <a class="header__link" href="">Статьи</a>
                <a class="header__link" href="">Информации</a>
                <a class="header__link" href="">Полный пансион</a>
                <div class="header__wrapper-active">
                    <div class="header__social-active d-flex justify-content-center align-items-center gap-2">
                        <a href="">
                            <img class="header__icon" src="../img/header-telegram.png" alt="">
                        </a>
                        <a href="">
                            <img class="header__icon" src="../img/header-watsup.png" alt="">
                        </a>
                        <a href="">
                            <img class="header__icon" src="../img/header-facebook.png" alt="">
                        </a>
                        <a href="">
                            <img class="header__icon" src="../img/header-vk.png" alt="">
                        </a>
                        <a href="">
                            <img class="header__icon" src="../img/header-insta.png" alt="">
                        </a>
                    </div>
                </div>
            </nav>

            <div class="header__social d-flex justify-content-center align-items-center gap-2">
                <a href="">
                    <img class="header__icon" src="../img/header-telegram.png" alt="">
                </a>
                <a href="">
                    <img class="header__icon" src="../img/header-watsup.png" alt="">
                </a>
                <a href="">
                    <img class="header__icon" src="../img/header-facebook.png" alt="">
                </a>
                <a href="">
                    <img class="header__icon" src="../img/header-vk.png" alt="">
                </a>
                <a href="">
                    <img class="header__icon" src="../img/header-insta.png" alt="">
                </a>
            </div>
        </div>
    </div>
</header>
</body>
</html>