<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/ico" href="../img/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body class="body" id="body">
<header class="header">
    <div class="header__left">
        <div class="header__inner">

            <p class="header__num">40,446 trees planted</p>
            <p class="header__text">1 million</p>
        </div>
    </div>

    <div class="header__right d-flex align-items-center px-4 justify-content-between">
        <div class="header__inner-left d-flex align-items-center">
            <img src="../img/icon-user.png" alt="">
            <a href="" class="header__link">Login</a>
        </div>
        <div class="header__inner-right d-flex align-items-center">
            <img src="../img/icon-users.png" alt="">
            <a href="" class="header__link">Community</a>
            <img class="header__img-search" src="../img/search.png" alt="">
        </div>
        <div class="header__border"></div>
        <div class="header__icon px-3 d-flex gap-3">
            <svg class="header__icon-svg" xmlns="http://www.w3.org/2000/svg" height="1em"
                 viewBox="0 0 512 512">
                <path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/>
            </svg>

            <svg class="header__icon-svg" xmlns="http://www.w3.org/2000/svg" height="1em"
                 viewBox="0 0 448 512">
                <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
            </svg>


            <svg class="header__icon-svg" xmlns="http://www.w3.org/2000/svg" height="1em"
                 viewBox="0 0 512 512">
                <path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"/>
            </svg>

            <svg class="header__icon-svg" xmlns="http://www.w3.org/2000/svg" height="1em"
                 viewBox="0 0 576 512">
                <path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"/>
            </svg>
        </div>
    </div>
</header>
<section class="main">
    <div class="main__menu position-relative d-flex align-items-center justify-content-center justify-content-lg-between pt-5">
        <div class="main__img">
            <img class="main__pic" src="../img/details.png" alt="">
        </div>
        <img class="main__logo-img" src="../img/logo.png" alt="">

        <nav class="main__nav d-flex flex-wrap justify-content-center align-items-center gap-4 mt-4">
            <a class="main__nav-link">Environment & Science</a>
            <a href="" class="main__nav-link">Shop</a>
            <a href="" class="main__nav-link">Projects</a>
            <a href="" class="main__nav-link">Resources</a>
            <a href="" class="main__nav-link">About Us</a>
            <a href="" class="main__nav-link">Contact Us</a>
            <a href=""><img class="main__nav-img" src="../img/Frame.png" alt=""></a>
            <a href="" class="main__nav-btn">Donate Now</a>
        </nav>
    </div>
    <div class="main__wrapper">
        <h2 class="main__title">The real future of</h2>
        <h1 class="main__title-1">a globally regenerated environment.</h1>
        <div class="main__border-1"></div>
        <p class="main__sub-text">Environmental healing for all, fantasy or reality?</p>
        <!---->
        <p class="main__sub-text-1">How the scientific principles of Nicola Tesla, Wilhelm Reich and
            Viktor
            Schauberger have been
            translated into reality and have given rise to new perspectives for people and the
            environment.</p>
        <a class="main__btn-1" href="">How It Works</a>
    </div>
    <div class="main__info mt-5 d-flex justify-content-center gap-2">
        <div class="main__info-item d-flex align-items-center justify-content-center  ">
            <p class="main__info-num">40K</p>
            <div class="main__border-2"></div>
            <p class="main__info-text">Trees <br>
                planted
            </p>
        </div>
        <!---->
        <div class="main__info-item d-flex align-items-center justify-content-center ">
            <p class="main__info-num">18</p>
            <div class="main__border-2"></div>
            <p class="main__info-text">Years of <br>
                Experiences
                <!---->
            </p>
        </div>
        <!---->
        <div class="main__info-item d-flex align-items-center justify-content-center ">
            <p class="main__info-num">98%</p>
            <div class="main__border-2"></div>
            <p class="main__info-text">Realised <br>
                projects
            </p>
        </div>
    </div>
    <div class="main__info-img position-relative">
        <img class="main__info-pic" src="../img/sky.png" alt="">
    </div>
</section>


<section class="products">
    <div class="container">
        <h1 class="text-center">Our Solutions/ Products</h1>
        <div class="row justify-content-center ">
            <div class="col-lg-4 mb-5">
                <div class="products__inner">
                    <img class="products__pic " src="../img/product.png" alt="">
                    <div class="products__txt">
                        <p class="products__inner-text">Clear sky, alert mind</p>
                        <h2 class="products__inner-title">Mini-SHA</h2>
                        <p class="products__inner-sub-text">The ultimate solution to combat the negative effects of
                            geoengineering, HAARP<span class="products__ellipses">...</span> <span
                                    class="products__hidden-txt d-none">and 5G. With its innovative sphere harmony system,
                            Mini-SHA
                            promotes a clear and alert mind by harmonizing the natural energy fields around us.</span>
                        </p>
                        <div class="products__button ">
                            <p class=" products__inner-btn">Learn More</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="products__inner">
                    <img class="products__pic " src="../img/product2.png" alt="">
                    <div class="products__txt">
                        <p class="products__inner-text">Find peace at home</p>
                        <h2 class="products__inner-title">HFH</h2>
                        <p class="products__inner-sub-text">The ultimate solution to combat the harmful effects of
                            electrosmog, 5G, and <span class="products__ellipses">...</span> <span
                                    class="products__hidden-txt d-none">other electromagnetic radiation in your home. With its innovative
                            human growth harmony system, HGH promotes a healthier environment, more energy, and
                            harmony in your body and mind.</span></p>
                        <div class="products__button ">
                            <p class="products__inner-btn">Learn More</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="products__inner">
                    <img class="products__pic " src="../img/product3.png" alt="">
                    <div class="products__txt">
                        <p class="products__inner-text">Against Chemtrails, HAARP and 5G</p>
                        <h2 class="products__inner-title">Big SHA</h2>
                        <p class="products__inner-sub-text">The ultimate solution to counteract the harmful
                            manipulation of the earth and <span class="products__ellipses">...</span> <span
                                    class="products__hidden-txt d-none"> humanity through vibration manipulation. With its
                            innovative sphere harmony system, Big-SHA aims to heal the environment and restore
                            natural frequencies for overall healing, including air, soil, water, and mother earth.</span>
                        </p>
                        <div class="products__button ">
                            <p class="products__inner-btn">Learn More</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="partners">
    <div class="container">
        <div class="row">
            <div class="col d-flex  flex-column flex-xxl-row justify-content-center">
                <div class="partners__wrapper">
                    <h1 class="partners__title">Our Partners and Publications</h1>
                    <p class="partners__text">We're honored to collaborate with these esteemed organizations who share
                        our
                        mission of providing
                        high-quality content to our audience.</p>
                    <a class="partners__link" href="">Learn More</a>
                </div>
                <div class="partners__img d-flex justify-content-between align-items-center">
                    <div class="partners__pic-1 text-center">
                        <img class="partners__label" src="../img/prt1.png" alt="">
                        <img class="partners__label" src="../img/prt2.png" alt="">
                        <img class="partners__label" src="../img/prt3.png" alt="">
                        <img class="partners__label" src="../img/prt4.png" alt="">
                    </div>
                    <div class="partners__pic-2 text-center">
                        <img class="partners__label-2" src="../img/prt5.png" alt="">
                        <img class="partners__label-2" src="../img/prt6.png" alt="">
                        <img class="partners__label-2" src="../img/prt7.png" alt="">
                        <img class="partners__label-2" src="../img/prt8.png" alt="">
                        <img class="partners__label-2" src="../img/prt9.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="healing">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="healing__title">Model project of bioenergetic environmental healing</h2>
                <p class="healing__text">So that heaven can kiss the earth again</p>
            </div>
            <div class="healing__wrapper flex-column justify-content-center align-items-center flex-xl-row">
                <div class="healing__img">
                    <img class="healing__pic" src="../img/collageheal.png" alt="">
                    <img class="healing__pic-1" src="../img/iconheal.png" alt="">
                </div>
                <div class="healing__inner">
                    <h3 class="healing__inner-subtitle">Think global, act local</h3>
                    <h2 class="healing__inner-title">Heal the environment <br>Heal humanity</h2>
                    <div class="healing__border"></div>
                    <div class="healing__info d-flex align-items-center pt-5">
                        <svg class="healing__icon" xmlns="http://www.w3.org/2000/svg" height="1em"
                             viewBox="0 0 512 512">
                            <path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/>
                            <p class="healing__info-text">Turning the desert into fertile land in just a few years <br>
                                through the use of bioenergetic
                                methods</p>
                        </svg>
                    </div>
                    <div class="healing__info d-flex align-items-center pt-4">
                        <svg class="healing__icon" xmlns="http://www.w3.org/2000/svg" height="1em"
                             viewBox="0 0 512 512">
                            <path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/>
                            <p class="healing__info-text">Successful desert revitalization by planting Trees <br> and
                                cultivation of various plant species</p>
                        </svg>
                    </div>
                    <div class="healing__info d-flex align-items-center pt-4">
                        <svg class="healing__icon" xmlns="http://www.w3.org/2000/svg" height="1em"
                             viewBox="0 0 512 512">
                            <path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/>
                            <p class="healing__info-text">
                                Emergence of a new microclimate and creation of one <br> new homes for animals</p>
                        </svg>
                    </div>
                    <div class="healing__info-sub">
                        <p class="healing__info-subtext">The revival of desert areas works!Through a synergy of the
                            methods of Wilhelm Reich, Nicola
                            Tesla andViktor Schauberger, combined with nature's own frequencies, were able to the desert
                            of Algeria, the self-regulating processes of nature back in are set in motion and incredible
                            things are achieved.</p>
                        <div class="healing__info-button">
                            <a class="healing__info-btn" href="">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="location">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="location__title">location</h2>
                <p class="location__text">Global Project</p>
            </div>
            <div class="location__button d-flex justify-content-center gap-2 mt-5">
                <button class="location__btn-1">all</button>
                <button class="location__btn-2">Europe</button>
                <button class="location__btn-3">South America</button>
                <button class="location__btn-4">Asia</button>
                <button class="location__btn-5">Africa</button>
                <button class="location__btn-6">North America</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
