<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap" rel="stylesheet">
</head>
<body class="body" id="body">
<header class="header">
    <div class="container">
        <div class="header__up d-flex align-items-center justify-content-between pt-3 pb-5">
            <div class="header__location d-flex align-items-center justify-content-center gap-2">
                <img src="../img/header-home.png" alt="">
                <p class="header__text-up">Абхазия, Цандрыпш, ул.Октябрьская, д.492</p>
            </div>
            <div class="header__mail d-flex justify-content-center align-items-center gap-2">
                <img src="../img/mail.png" alt="">
                <p class="header__text-up">booking@valentinahouse.ru</p>
            </div>
            <div class="header__phone d-flex justify-content-center align-items-center gap-2">
                <img src="../img/phone.png" alt="">
                <p class="header__text-up">8 (862) 279-56-89</p>
            </div>
        </div>
        <div class="header__down d-flex align-items-center justify-content-between">
            <p class="header__text-down">Valentina <br> Guest House</p>
            <div class="header-burger">
                <span></span>
            </div>
            <p class="header__text-down-active">Valentina <br> Guest House</p>
            <nav class="header__nav d-flex align-items-center justify-content-center gap-3 ">
                <p class="header__text-down-active">Valentina <br> Guest House</p>
                <div class="header__wrapper-active">
                    <div class="header__location d-flex align-items-center justify-content-center gap-2">
                        <img src="../img/header-home.png" alt="">
                        <p class="header__text-up">Абхазия, Цандрыпш, ул.Октябрьская, д.492</p>
                    </div>
                    <div class="header__mail d-flex justify-content-center align-items-center gap-2">
                        <img src="../img/mail.png" alt="">
                        <p class="header__text-up">booking@valentinahouse.ru</p>
                    </div>
                    <div class="header__phone d-flex justify-content-center align-items-center gap-2">
                        <img src="../img/phone.png" alt="">
                        <p class="header__text-up">8 (862) 279-56-89</p>
                    </div>
                </div>
                <a class="header__link" href="">Главная</a>
                <a class="header__link" href="#" id="dropdownToggle">Номер и Цена</a>
                <div class="header__content" id="dropdownContent">
                    <a href="http://localhost:8081/index2.html">2-Х МЕСТНЫЙ</a>
                    <a href="#">СЕМЕЙНЫЙ</a>
                    <a href="#">DELUXE </a>
                    <a href="#">DELUXE+</a>
                </div>
                <a class="header__link" href="">Статьи</a>
                <a class="header__link" href="">Информации</a>
                <a class="header__link" href="">Полный пансион</a>
                <div class="header__wrapper-active">
                    <div class="header__social-active d-flex justify-content-center align-items-center gap-2">
                        <a href="">
                            <img class="header__icon" src="../img/header-telegram.png" alt="">
                        </a>
                        <a href="">
                            <img class="header__icon" src="../img/header-watsup.png" alt="">
                        </a>
                        <a href="">
                            <img class="header__icon" src="../img/header-facebook.png" alt="">
                        </a>
                        <a href="">
                            <img class="header__icon" src="../img/header-vk.png" alt="">
                        </a>
                        <a href="">
                            <img class="header__icon" src="../img/header-insta.png" alt="">
                        </a>
                    </div>
                </div>
            </nav>

            <div class="header__social d-flex justify-content-center align-items-center gap-2">
                <a href="">
                    <img class="header__icon" src="../img/header-telegram.png" alt="">
                </a>
                <a href="">
                    <img class="header__icon" src="../img/header-watsup.png" alt="">
                </a>
                <a href="">
                    <img class="header__icon" src="../img/header-facebook.png" alt="">
                </a>
                <a href="">
                    <img class="header__icon" src="../img/header-vk.png" alt="">
                </a>
                <a href="">
                    <img class="header__icon" src="../img/header-insta.png" alt="">
                </a>
            </div>
        </div>
    </div>
</header>
<section class="main">
    <div class="main__container">
        <div class="main__wrapper">
            <div class="main__inner">
                <p class="main__text">Даты заезда</p>
                <div class="main__input-group">
                    <label for="pickerInput"></label><input class="main__input" id="pickerInput" type="text"
                                                            placeholder="04-04-2021">
                </div>
            </div>
            <div class="main__inner">
                <p class="main__text">Даты выезда</p>
                <div class="main__input-group">
                    <label for="pickerOutput"></label><input class="main__input" id="pickerOutput" type="text"
                                                             placeholder="06-04-2021">
                </div>
            </div>
            <div class="main__inner">
                <p class="main__text">Гостей</p>
                <div class="main__input-group">
                    <label for="guestsSelect"></label><select class="main__input-num" id="guestsSelect">
                    <option value="1">1 гость</option>
                    <option value="2">2 гостя</option>
                    <option value="3">3 гостя</option>
                    <option value="4">4 гостя</option>
                </select>
                    <span class="main__input-icon">
                        <svg class="main__svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path
                                d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg></span>
                </div>
            </div>
            <div class="main__inner">
                <button class="main__button">Проверить</button>
            </div>
        </div>
    </div>
</section>
<section class="rooms">
    <div class="container">
        <h1 class="rooms__title">НАШИ НОМЕРА</h1>
        <div class="rooms__wrapper pt-4 d-flex flex-column flex-lg-row justify-content-center align-items-center gap-3">
            <div class="rooms__inner">
                <img class="rooms__img" src="../img/room1.png" alt="">
                <div class="rooms__card">
                    <h2 class="rooms__card-title">2-х местный</h2>
                    <div class="rooms__inner-text">
                        <p class="rooms__text">-Площадь номера: 11 м2</p>
                        <p class="rooms__text">-1 двуспальная кровать или 2 односпальные кровати</p>
                        <p class="rooms__text">-Кондиционер</p>
                        <p class="rooms__text">-Интернет</p>
                        <p class="rooms__text">-Телевизор</p>
                    </div>
                </div>
            </div>
            <div class="rooms__inner">
                <img class="rooms__img" src="../img/room2.png" alt="">
                <div class="rooms__card">
                    <h2 class="rooms__card-title">Семейный</h2>
                    <div class="rooms__inner-text">
                        <p class="rooms__text">-Площадь номера: 18 м2</p>
                        <p class="rooms__text">-1 двуспальная кровать или 1 односпальная кровать</p>
                        <p class="rooms__text">-Кондиционер</p>
                        <p class="rooms__text">-Интернет</p>
                        <p class="rooms__text">-Телевизор</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="rooms__wrapper pt-4 d-flex flex-column flex-lg-row justify-content-center align-items-center gap-3">
            <div class="rooms__inner">
                <img class="rooms__img" src="../img/room3.png" alt="">
                <div class="rooms__card">
                    <h2 class="rooms__card-title">Deluxe</h2>
                    <div class="rooms__inner-text">
                        <p class="rooms__text">-Площадь номера: 30 м2</p>
                        <p class="rooms__text">-1 двуспальная кровать или 1 раскладной диван</p>
                        <p class="rooms__text">-Кондиционер</p>
                        <p class="rooms__text">-Интернет</p>
                        <p class="rooms__text">-Телевизор</p>
                        <p class="rooms__text">-2 комнаты</p>
                    </div>
                </div>
            </div>
            <div class="rooms__inner">
                <img class="rooms__img" src="../img/room4.png" alt="">
                <div class="rooms__card">
                    <h2 class="rooms__card-title">Deluxe Plus</h2>
                    <div class="rooms__inner-text">
                        <p class="rooms__text">-Площадь номера: 45 м2</p>
                        <p class="rooms__text">-2 односпальные кровати, 1 двуспальная кровать, 1 диван</p>
                        <p class="rooms__text">-Кондиционер</p>
                        <p class="rooms__text">-Интернет</p>
                        <p class="rooms__text">-Телевизор</p>
                        <p class="rooms__text">-3 комнаты</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-container rooms__wrapper-mobile">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="rooms__img-mobile" src="../img/room1.png" alt="">
                    <div class="rooms__card-mobile">
                        <h2 class="rooms__card-title">2-х местный</h2>
                        <p class="rooms__text-mobile">-Площадь номера: 11 м2</p>
                        <p class="rooms__text-mobile">-1 двуспальная кровать или 2 односпальные кровати</p>
                        <p class="rooms__text-mobile">-Кондиционер</p>
                        <p class="rooms__text-mobile">-Интернет</p>
                        <p class="rooms__text-mobile">-Телевизор</p>
                        <button class="rooms__button">Подробнее</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img class="rooms__img-mobile" src="../img/room2.png" alt="">
                    <div class="rooms__card-mobile">
                        <h2 class="rooms__card-title">Семейный</h2>
                        <p class="rooms__text-mobile">-Площадь номера: 18 м2</p>
                        <p class="rooms__text-mobile">-1 двуспальная кровать или 1 односпальная кровать </p>
                        <p class="rooms__text-mobile">-Кондиционер</p>
                        <p class="rooms__text-mobile">-Интернет</p>
                        <p class="rooms__text-mobile">-Телевизор</p>
                        <button class="rooms__button">Подробнее</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img class="rooms__img-mobile" src="../img/room3.png" alt="">
                    <div class="rooms__card-mobile">
                        <h2 class="rooms__card-title">Deluxe</h2>
                        <p class="rooms__text-mobile">-Площадь номера: 30 м2</p>
                        <p class="rooms__text-mobile">-1 двуспальная кровать или 1 раскладной диван </p>
                        <p class="rooms__text-mobile">-Кондиционер</p>
                        <p class="rooms__text-mobile">-Интернет</p>
                        <p class="rooms__text-mobile">-Телевизор</p>
                        <p class="rooms__text-mobile">-2 комнаты</p>
                        <button class="rooms__button">Подробнее</button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img class="rooms__img-mobile" src="../img/room4.png" alt="">
                    <div class="rooms__card-mobile">
                        <h2 class="rooms__card-title">Deluxe Plus</h2>
                        <p class="rooms__text-mobile">-Площадь номера: 45 м2</p>
                        <p class="rooms__text-mobile">-2 односпальные кровати, 1 двуспальная кровать, 1 диван </p>
                        <p class="rooms__text-mobile">-Кондиционер</p>
                        <p class="rooms__text-mobile">-Интернет</p>
                        <p class="rooms__text-mobile">-Телевизор</p>
                        <p class="rooms__text-mobile">-3 комнаты</p>
                        <button class="rooms__button">Подробнее</button>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>
<section class="guest">
    <div class="container">
        <h1 class="guest__title">ГОСТЕВОЙ ДОМ «Valentina Guest House» , Абхазия </h1>
        <div class="guest__wrapper d-flex flex-column flex-lg-row justify-content-center align-items-center gap-4">
            <img class="guest__img" src="../img/guest.png" alt="">
            <div class="guest__inner">
                <p class="guest__text pb-4">Дорогие гости,
                    Безопасность и комфорт гостей и персонала – это приоритет нашей работы.</p>
                <p class="guest__text pb-4">Мы круглосуточно следим за тем, что Министерство здравоохранения Российской
                    Федерации, Федеральная
                    служба по
                    надзору в сфере защиты прав потребителей и Всемирная организация здравоохранения сообщают о
                    распространении
                    нового типа коронавируса (COVID-19) и беспрекословно выполняем рекомендации этих организаций и
                    местных
                    органов здравоохранения.</p>
                <p class="guest__text">Мы искренне сочувствуем всем, кого коснулось это бедствие и с огромным уважением
                    относимся к врачам,
                    местным
                    сообществам и правительствам, которые задействованы в прямой борьбе с распространением
                    коронавируса.</p>
            </div>
        </div>
    </div>
</section>
<section class="about">
    <div class="container">
        <h1 class="about__title">ОТЗЫВЫ О НАС</h1>
        <div class="about__wrapper" id="about__wrapper1">
            <p class="about__text">Все было прекрасно! Отличный номер, уютный и комфортный; в номере чисто, все в
                рабочем состоянии!</p>
            <p class="about__name">Vera</p>
        </div>
        <div class="about__wrapper2 d-none" id="about__wrapper2">
            <p class="about__text">было просто супер! идеальный номер, стильный, комфортный, чистый; советую всем 100%
                из 100% </p>
            <p class="about__name">Sara</p>
        </div>
        <div class="about__us position-relative pt-5 d-flex justify-content-center align-items-center">
            <div class="about__arrow left-arrow" id="left__arrow"></div>
            <img class="about__icon" src="../img/about%20us.png" alt="">
            <div class="about__arrow right-arrow" id="right__arrow"></div>
        </div>
    </div>
</section>
<footer class=" footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__inner footer__inner-active">
                <h2 class="footer__title">Геолокация</h2>
                <a id="mapLink" href="#" target="_blank">
                    <img class="footer__map" src="../img/mapfooter.png" alt="Map">
                </a>
            </div>
            <div class="footer__inner">
                <h2 class="footer__title">Контакты</h2>
                <div class="footer__block d-flex justify-content-md-start justify-content-center align-items-center gap-2 ">
                    <img class="footer__icon" src="../img/phone%20f.png" alt="">
                    <p class="footer__text">8 (862) 279-56-89</p>
                </div>
                <div class="footer__block d-flex justify-content-md-start justify-content-center align-items-center gap-2 ">
                    <img class="footer__icon" src="../img/homef.png" alt="">
                    <p class="footer__text">Абхазия, Цандрыпш</p>
                </div>
                <div class="footer__block d-flex justify-content-md-start justify-content-center align-items-center gap-2 ">
                    <img class="footer__icon" src="../img/targetf.png" alt="">
                    <p class="footer__text">ул.Октябрьская, д.492</p>
                </div>
                <div class="footer__block d-flex justify-content-md-start justify-content-center align-items-center gap-2 ">
                    <img class="footer__icon" src="../img/letterf.png" alt="">
                    <p class="footer__text">booking@valentinahouse.ru</p>
                </div>
            </div>
            <div class="footer__inner">
                <h2 class="footer__title">Информация</h2>
                <p class="footer__text">Заезд: с 16:00
                </p>
                <p class="footer__text">Выезд: до 12:00
                </p>
                <p class="footer__text">Бесплатный WI-FI</p>
                <p class="footer__text">Бесплатная парковка
                </p>
                <a class="footer__link" href="">
                    <p class="footer__text">О нас</p>
                </a>
                <a class="footer__link" href="">
                    <p class="footer__text">Условия</p>
                </a>
                <a class="footer__link" href="">
                    <p class="footer__text">Политика конфиденциальности</p>
                </a>
            </div>
            <div class="footer__inner footer__inner-active">
                <h2 class="footer__title">Погода</h2>
                <p class="footer__text">Яндекс.Погода : +17</p>
                <div class="footer__soc pt-3">
                    <a class="footer__link-icon" href="">
                        <img src="../img/facebook.png" alt="">
                    </a>
                    <a class="footer__link-icon" href="">
                        <img src="../img/vk.png" alt="">
                    </a>
                    <a class="footer__link-icon" href="">
                        <img src="../img/insta.png" alt="">
                    </a>
                    <a class="footer__link-icon" href="">
                        <img src="../img/telegram.png" alt="">
                    </a>
                    <a class="footer__link-icon" href="">
                        <img src="../img/whatsup.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<section class="copyright">
    <div class="container">
        <p class="copyright__text">© <span class="year">2021</span> – VALENTINA GUEST HOUSE</p>
    </div>
</section>

</body>
</html>
